
<div class="card p-2">
    <table class="table table-sm m-2 table-hover">
        <thead>
            <th>Vehicle</th>
            <th>Service</th>
            <th>Details</th>
            <th>Contact Name</th>
            <th>Contact #</th>
            <th>Date</th>
            <th>Action</th>
        </thead>
    
    <tbody>
        <tr *ngFor="let quot of list">
            <td (click)="onView(quot)">{{quot.vehicle}}</td>
            <td (click)="onView(quot)">{{quot.service}}</td>
            <td (click)="onView(quot)">{{quot.details}}</td>
            <td (click)="onView(quot)">{{quot.contact}}</td>
            <td (click)="onView(quot)">{{quot.mobile}}</td>
            <td (click)="onView(quot)">{{quot.date}}</td>
            <td (click)="onDelete(quot.id)"><button class=" btn btn-sm btn-danger">delete</button></td>
    
        </tr>
    </tbody>
    
    </table>
    </div>