
<div class="card p-2">
    <table class="table table-sm m-2 table-hover">
        <thead>
            <th>Name</th>
            <th>Model</th>
            <th>Color</th>
            <th>Owner</th>
            <th>Action</th>
        </thead>
    
    <tbody>
        <tr *ngFor="let car of list">
            <td (click)="onEdit(car)">{{car.name}}</td>
            <td (click)="onEdit(car)">{{car.model}}</td>
            <td (click)="onEdit(car)">{{car.color}}</td>
            <td (click)="onEdit(car)">{{car.ownerName}}</td>
            <td (click)="onDelete(car.id)"><button class=" btn btn-sm btn-danger">delete</button></td>
    
        </tr>
    </tbody>
    
    </table>
    </div>